@font-face {
    font-family: TextFont;
    src: url(../../Data/NotoSansJP-Regular.otf);
}

.about-titre1 {
    font-family: TextFont, serif;
    color : #000000;
    text-align: center;
    font-size: 5.42vh;
    font-weight: bold;
    margin : 1vh;
    padding : 0vh;
    line-height: 5.42vh;
}
.about-text1{
    font-family: TextFont, serif;
    text-align: center;
    font-size: 2.77vh;
    color : #000000;
    margin : 1vh;
    padding : 0vh;
    line-height: 2.77vh;

}

.about-text2{
    font-family: TextFont, serif;
    text-align: center;
    font-size: 5.48vh;
    color : #FFB059;
    margin : 1vh;
    padding : 0vh;
    line-height: 5.48vh;

}

.about-text3{
    font-family: TextFont, serif;
    text-align: center;
    font-size: 3.96vh;
    color : #000000;
    font-weight: bold;
    margin : 1vh;
    padding : 0vh;
    line-height: 3.96vh;

}

.about-text4{
    font-family: TextFont, serif;
    text-align: center;
    font-size: 2.279vh;
    color : #000000;
    font-weight: bold;
    margin : 1vh;
    padding : 0vh;
    line-height: 2.279vh;

}

.about-text5{
    font-family: TextFont, serif;
    text-align: center;
    font-size: 4.16vh;
    color : #000000;
    font-weight: bold;
    margin : 1vh;
    padding : 0vh;
    line-height: 4.16vh;

}

.about-text6{
    font-family: TextFont, serif;
    text-align: center;
    font-size: 4.7vh;
    color : #000000;
    font-weight: bold;
    margin : 1vh;
    padding : 0vh;
    line-height: 4.7vh;

}
b{
    color : #FF5403;
}

