@font-face {
    font-family: TextFont;
    src: url(../../Data/NotoSansJP-Regular.otf);
}

.home-fond{
    background-image: url("../../Data/FondAccroche.jpg");
    margin:-9vh -10vh -5vh -10vh;
    width: 100vw;
    height : 84vh;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-text{
    position : relative;
    top : 10vh;
    left : 24vh;

}

