/* button {
	color: "#54F0B9";
	border-color: "#54F0B9";
} */
@font-face {
	font-family: TextFont;
	src: url(../../Data/NotoSansJP-Regular.otf);
}

.chomage-render{
	font-family: TextFont, serif;
	text-align: center;
	font-size: 2.5vh;
	color : #000000;
	font-weight: bold;
	margin : 1vh;
	padding : 0vh;
	line-height: 4.16vh;
}

.layout {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	z-index:2;
}

.mapLayout {
	display: flex;
	flex-direction: column;
	z-index:3;
}
.mapButton {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1%;
	height: 7vh;
}

.graphs {
	display: flex;
	flex-direction: column;
}

.graphsButtons {
	display: flex;
}

.graphRendering {
	width: 45vw;
	height: 69vh;
}
.graphsButtons button {
	width: 25%;
	margin: 1%;
}
