/* button {
	color: "#54F0B9";
	border-color: "#54F0B9";
} */

.layout {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	z-index:2;
}

.mapLayout {
	display: flex;
	flex-direction: column;
	z-index:3;
}
.mapButton {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1%;
	height: 7vh;
}

.graphs {
	display: flex;
	flex-direction: column;
}

.graphsButtons {
	display: flex;
}

.graphRendering {
	width: 45vw;
	height: 69vh;
}
.graphsButtons button {
	width: 25%;
	margin: 1%;
}
