@font-face {
	font-family: textFont;
	src: url(../../../Data/Roboto-Regular.ttf);
}

.footer {
	background-color: white;
	height: 3vh;
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
	text-align: center;
	font-size: 1.8vh;
	font-family: textFont, serif;
	z-index:4;
}

/* .footer-background{
    background-color : #FFB059;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 3vh;
    max-height: 3vh;
} */
