.layout-component {
	padding: 2%;
	z-index:3;
}

.layout-fond {
	background-color: floralwhite;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 1;
}
