.layout-component {
	padding: 2%;
}

.layout-fond {
	background-color: floralwhite;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
